body {
  background-color: rgb(112, 112, 126);
}

body .background_coverage {
  background-image: url('images/fundo_lighten.jpg');
  background-size: cover;
  font-family: Arial, sans-serif;
  color: navy;
  margin: auto;
  padding: 0;
  max-width: 1000px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
}

nav a {
  color: rgb(1, 1, 105);
  text-decoration:none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 1.5%;
  vertical-align: middle;
  padding: 10px;
  background-color: orange;
  border-radius: 5px;
  transition: background-color 0.15s;
  font-size: 2.0vmin;
}

nav a:hover {
  background-color: #f78d0c;
  font-style: italic;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px;
  max-width: 85%;
}

.profile img {
  width: 30%;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0 25px 16px 0 rgba(0,0,0,0.2);
}

.profile .text {
  width: 75%;
  text-align: left;
  font-size: 1.4vmax;
  line-height: 27px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  text-align: center;
  margin: auto;
  padding: 20px;
  padding-bottom: 0;
  max-width: 1100px;
}

.container .resumeLink {
  width: 10%;
  float: right;
}

.page {
  display: none;
  padding: 20px;
  line-height: 25px;
}

.page.active {
  display: block;
}

.linkedin {
  display: inline-block;
  margin-left: 92%;
}

.linkedin-img {
  width:25px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  padding-bottom: 200px;
  background-color: transparent;
  color: navy;
}

.resume_img {
  width: 40px;
}

