.educationContainer {
  display: flex;
  flex-direction: column;
  width:350px;
  margin: auto;
  border: 3px none navy;
}

.schoolContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 10px solid black;
  border-style: outset;
  padding: 10px;
  background-color: rgb(219, 219, 219);
}

.mascottLogo {
  flex: 1;
  border: 1px none black;

}

.mascottLogo img {
  width: 90px;
}

.schoolLogo {
  flex: 2.5;
  border: 1px none black;

}

.schoolLogo img {
  width: 200px;
  float: right;
  
}

.degree {
  font-size: 26px;
  padding-top:5px;
  padding-bottom: 50px;
  text-align: center;
}


h2 {
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}

#education {
  background-image: url("../images/fundo_lighten.jpg");
}