.corpo {
  margin: 0;
  background-color: rgb(34, 31, 125);
  background-image: url("../images/fundo_lighten.jpg");
  background-size: 90%;
  background-repeat: repeat-y;
  background-position: center top;
  background-attachment: fixed;
  padding-top: 240px;
  padding-left: 6%;
  padding-right: 6%;
  color: navy;
}

.header {
  position: fixed;
  top: 0;
  left: 5%;
  right: 4.96%;
  height: 200px;
  text-align: center;
  color: navy;
  border-top: 20px solid rgb(34, 31, 125);
  border-bottom: 1px solid rgb(193, 193, 193);
  border-bottom-style: groove;
  background-color: rgb(230, 230, 230);
}

.header .resumeLink {
  position: absolute;
  top: 10px;
  right: 55px;  
}

.header .resumeLink img{
  width: 33px;
}

.header .linkedinLink {
  position: absolute;
  top: 12px;
  right: 15px;  
}

.header .linkedinLink img{
  width: 30px;
}

.header .nome {
  font-size: 36px;
  font-weight: bold;
  font-family: Roboto, Cambria, Cochin, Arial, Georgia, Times, 'Times New Roman', serif;
  border-style: none;
  padding-top: 20px;
}

.header .mensagem {
  padding-top: 24px;
  color: crimson;
  font-family: cursive;
  padding-left: 2%;
  padding-right: 2%;
  font-style: italic;}

.header .botoes {
  padding-top: 20px;
}

.header button {
  font-size: 18px;
  text-decoration: none;
  background-color: orange;
  border-color: darkorange;
  color: navy;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  margin: 0 1%;
  padding: 0.5% 1.0%;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0,0,128,0.5);      
}

@media (max-width: 700px){
  .header button {
    font-size: 14px;
  }
}

.header button:hover {  
  opacity: 80%;
  background-color: darkorange;
  font-style: italic;
}

.header button:active {
  opacity: 30%;
  background-color: darkorange;
  font-style: italic;
}

.centro {
  display: flex;
  align-items: center;
}

.foto-profile {
  flex: 1;
}

.foto-profile img {
  margin-left: 1%;
  width: 93%;
  border-radius: 100%;
  box-shadow: 5px 5px 5px rgba(0,0,128,0.5);
}

.texto-profile {
  flex: 2;
  margin-right: 2%;
  font-size: 30px;
  color: navy;
}

@media (max-width: 1100px){
  .texto-profile {
    font-size: 26px;
  }
}

@media (max-width: 1000px){
  .texto-profile {
    font-size: 20px;
  }
}

.page {
  display: none;
  margin-top:20px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0 15px;
  line-height: 32px;
  font-size: 26px;
  border: 1.5px dotted navy;
  box-shadow: 5px 5px 5px;
}

@media (max-width: 1100px){
  .page {
    font-size: 22px;
  }
}

@media (max-width: 1000px){
  .page {
    font-size: 18px;
  }
}

          .page h2 {
            padding-left: 20px;
            color: crimson;
          }

          .page.active {
            display: block;
          }

          #contact p {
            margin-left: 30px;
            line-height: 7px;
          }

          #contact a {
            text-decoration:none;
            color: rgb(0, 0, 128);
          }

.footer {
  margin-top: 40px;
  margin-bottom: 30px;
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
  border-top-style: solid;
  border-top-color: rgb(193, 193, 193);
  border-top-width: 1px;
  color:black;
}